    lcm-operations-configuration:
      operate-vnf-op-config:
        day1-2:
        - config-primitive:
          {% for action in charm.actions %}
          - name: {{action.name}}
            execution-environment-ref: {{charm.charm_name}}-ee
            {%if action.parameters%}
            parameter:
            {% for parameter in action.parameters %}
            - data-type: STRING
              default-value: {{parameter.value}}
              name: {{parameter.name}}
            {%endfor%}
            {%endif%}
          {%endfor%}
          config-access:
            ssh-access:
              default-user: {{charm.ssh_username}}
              required: true
          execution-environment-list:
          - id: {{charm.charm_name}}-ee
            juju:
              charm: {{ charm.charm_name }}
              cloud: {{ charm.cloud }}
          id: {{ charm.target }}_vnf
          initial-config-primitive:
          {# Define the actions in the charm #}
          - execution-environment-ref: {{charm.charm_name}}-ee
          {# Action "config" is mandatory #}
            seq: '1'
            name: config 
            parameter:
            {# This credentials must be set in order to execute further actions #}
            - name: ssh-hostname
            {# This value may stay as it is because is automatically replaced 
            by the VNF or VDU management cp #}
              value: <rw_mgmt_ip>
            - name: ssh-username
              value: {{charm.ssh_username}}
            - name: ssh-password
              value: {{charm.ssh_password}}
            {# Charm specific action can be defined here with the necesary parameters #}
            {# seq: His vale is el order in which the actions will be executed #}
            {# For multiple action copy and paste the section bellow changing the seq value #}
            {% for action in charm.actions %}
          - name: {{action.name}}
            execution-environment-ref: {{charm.charm_name}}-ee
            {%if action.parameters%}
            parameter:
              {% for parameter in action.parameters %}
              - name: {{parameter.name}}
                value: {{parameter.value}}
              {%endfor%}
            {%endif%}
            seq: {{ loop.index + 1 }}
            {%endfor%}
