vnfd:
  id: {{ vnf.id }}_vnf
  product-name: {{ vnf.id }}_vnf
  description: {{vnf.description}}
  provider: OSM
  version: '1.0'
  df:
  - id: default-df
    instantiation-level:
    - id: default-instantiation-level
      vdu-level:
      {% for vdu in vdus %}
      {% if vdu.vnf == vnf.id %}
      - vdu-id: {{ vdu.id }}
        number-of-instances: 1
      {%endif%}
      {%endfor%}
    vdu-profile:
    {% for vdu in vdus %}
    {% if vdu.vnf == vnf.id %}
    - id: {{ vdu.id }}
      min-number-of-instances: 1
      max-number-of-instances: 1
    {%endif%}
    {%endfor%}
  virtual-storage-desc:
  {% for storage in vnf.storages %}
  - id: {{storage.id}}
    size-of-storage: "{{ storage.amount }}"
  {%endfor%}
  virtual-compute-desc:
  {% for compute in vnf.computes %}
  - id: {{ compute.id }}
    virtual-cpu:
      num-virtual-cpu: "{{ compute.vcpus }}"
    virtual-memory:
      size: "{{ compute.ram }}"
  {%endfor%}
  sw-image-desc:
  {% for image in images %}
  - id: {{ image }}
    name: {{ image }}
    image: {{ image }}
  {%endfor%}
  vdu:
  {% for vdu in vdus %}
  {% if vdu.vnf == vnf.id %}
  - id: {{vdu.id}}
    name: {{vdu.id}}
    description: {{vdu.description}}
    cloud-init-file: {{vdu.cloud_init_file}}
    sw-image-desc: {{vdu.image}}
    virtual-storage-desc:
    - {{vdu.storage.id}}
    virtual-compute-desc: {{vdu.compute.id}}
    int-cpd:
    {% for network in vdu.networks %}
    - id: {{vdu.id}}_{{network}}_cp
      {% if network in internal_networks %}
      int-virtual-link-desc: {{network}}
      {%endif%}
      virtual-network-interface-requirement:
      - name: {{vdu.id}}_{{network}}
        position: {{loop.index}}
        virtual-interface:
          type: PARAVIRT
    {%endfor%}
    {%endif%}
  {%endfor%}
  ext-cpd:
  {% set interface = namespace(mgmt="") %}
  {% for vdu in vdus %}
  {% if vdu.vnf == vnf.id %}
  {% for network in vdu.external_networks %}
  {% if network == "management_network" %}
  {% set interface.mgmt = network + "_cp_"+ vdu.id %}
  {%endif%}
  - id: {{network + "_cp_"+vdu.id}}
    int-cpd:
      vdu-id: {{ vdu.id }}
      cpd: {{vdu.id}}_{{network}}_cp
  {%endfor%}
  {%endif%}
  {%endfor%}
  int-virtual-link-desc:
  {% for network in vnf.internal_networks %}
  - id: {{network}}
  {%endfor%}
  mgmt-cp: {{ interface.mgmt }}